{% extends "base/base.html" %}

{% block content %}

<form method="post">
    <label for="sum">Sum of transaction: </label>
    <input type="string" step=0.001 name="sum" placeholder="Enter sum" value="{{ request.form['sum'] }}"></input>
    <br>
    <br>
    <label for="cars">Choose currency:</label>
    <select id="cars" name="cars">
        {% for currency in currencies %}
            <option value="{{ currency }}"> {{ currency }}</option>
        {% endfor %}
    </select>
    <br><br>

    <label for="content">Description</label>
    <br>
    <textarea name="content" placeholder="Description" rows="3" cols="50">{{ request.form['content'] }}</textarea>
    <br><br>
    <button type="submit">Submit</button>
</form>

{% endblock %}
